.navbar{
    width:100%;
    padding:20px 6%;
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 14px;
    color:#e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent);
    z-index: 1;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.navbar-left img{
    width:90px;
}

.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.navbar-right .icons{
    width:20px;
    height:20px;
    cursor: pointer;
}

.navbar-right span{
    cursor: pointer;
}

.navbar-right .profile{
    width:35px;
    height:35px;
    border-radius: 4px;
    object-fit: cover;
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: #191919;
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;
}

.nav-dark{
    background-color: #141414;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search-box input{
    width: 0;
    opacity: 0;
    padding: 8px 10px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.search-box.active input{
    width: 220px;
    opacity: 1;
}

@media (max-width:800px){
    .search-box.active input{
        width: 160px;
    }
}


@media (max-width:800px){
    .navbar{
        padding: 20px 4%;
    }

    .navbar-left ul{
        display: none;
    }

    .navbar-left img{
        width:70px;
    }

    .navbar-right span{
        display: none;
    }
}

@media (max-width:500px){
    .navbar-right{
        gap:10px;
    }

    .navbar-right .icons{
        width:18px;
        height:18px;
    }
}