.title-card{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-card h2{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

@media(max-width:800px){
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .title-cards h2{
        font-size:20px;
    }

    .card-list img{
        width: 200px;
    }

    .card-list p{
        font-size: 12px;
    }
}
